[kafkaHub.config]
# Flag to check whether to enable/disable security
SECURITY_ON = true

# Azure Event Hub namespace connection
SYSTEM_INFO_NAMESPACE = "localhost:9092"

# Path to the file containing the system-info EventHub connection-string
SYSTEM_INFO_NAMESPACE_CONNECTION_STRING_FILE = "./resources/system-info"

# Azure Event Hub related to the system-information
SYSTEM_INFO_HUB = "system-info"

# Partitions in `system-info` EventHub which will get notified for websub topic registration/deregistration
REGISTERED_WEBSUB_TOPICS_PARTITION = 0

# Partitions in `system-info` EventHub which stores consolidated websub topics for the hub
CONSOLIDATED_WEBSUB_TOPICS_PARTITION = 1

# Partitions in `system-info` EventHub which will get notified for websub subscription/unsubscription
WEBSUB_SUBSCRIBERS_PARTITION = 2

# Partitions in `system-info` EventHub which is stores consolidated websub subscribers for this server
CONSOLIDATED_WEBSUB_SUBSCRIBERS_PARTITION = 3

# Partitions in `system-info` EventHub which will get notified for system events
SYSTEM_EVENTS_PARTITION = 4

# The interval in which Kafka consumers wait for new messages
POLLING_INTERVAL = 10.0

# The period in which Kafka close method waits to complete
GRACEFUL_CLOSE_PERIOD = 5.0

# The port that is used to start the hub
HUB_PORT = 9000

# SSL keystore file path
SSL_KEYSTORE_PATH = "./resources/keystore.p12"

# SSL keystore password file
KEYSTORE_PASSWORD_FILE = "./resources/keystore-password"

# Public cert used to verify the provided JWT
JWT_JWKS_ENDPOINT = "https://sts.preview-dv.choreo.dev/oauth2/jwks"

# The period between retry requests
MESSAGE_DELIVERY_RETRY_INTERVAL = 3.0

# The maximum retry count
MESSAGE_DELIVERY_COUNT = 3

# The message delivery timeout
MESSAGE_DELIVERY_TIMEOUT = 10.0

# System Configurations Related to Azure Event Hub
NAMESPACE_CONFIG_FILE = "./resources/namespace-config.json"

[ballerina.http.accessLogConfig] 
console = true
